footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "footer_left footer_right";
    overflow: hidden;
}

footer div {
    padding: 3rem;
}

#footer_left {
    grid-area: footer_left;
}

#footer_right {
    grid-area: footer_right;
    text-align: right;
}

.footer h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.footer a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.footer-in-animation #footer_left {
    animation: footer-in-animation-left 1s cubic-bezier(0, 1, .5, 1);
}

.footer-in-animation #footer_right {
    animation: footer-in-animation-right 1s cubic-bezier(0, 1, .5, 1);
}

@keyframes footer-in-animation-left {
    0% {
        transform: translateX(-100%);
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes footer-in-animation-right {
    0% {
        transform: translateX(100%);
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#subfooter {
    overflow: hidden;
}

.subfooter-in-animation {
    animation: subfooter-in-animation 1s cubic-bezier(0, 1, 1, 0);
}

@keyframes subfooter-in-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}