#title {
    font-size: calc( ( 100vw - 4rem) / 30);
    background-image: linear-gradient(90deg, var(--accent-color), var(--accent2-color));
    background-size: cover;
    color: transparent;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}

#scrollNoteContainer {
    position: absolute;
    margin: auto;
    color: var(--accent-color);
    font-size: 4rem;
    bottom: 0;
    transition: 0.5s;
    cursor: pointer;
}